
*{box-sizing:border-box}
body{font-family:Poppins,Arial;background:#f6f8fb;margin:0}
.container{max-width:1200px;margin:30px auto}
.media{height:190px;overflow:hidden}
.media img{width:100%;height:100%;object-fit:cover}

.product-detail{display:grid;grid-template-columns:1fr 1fr;gap:30px;background:#fff;padding:24px;border-radius:16px}
.product-detail .media{height:auto;max-height:520px;overflow:visible}
.product-detail .media img{width:100%;height:auto;max-height:500px;object-fit:contain}
